//********************************************
//***************   MAIN SCSS   **************
//********************************************

/*
scss/                         # Import all ‘-dir.scss’ files
|
|- Abstracts/                   
|	|- __abstracts-dir.scss     # Import all abstracts .scss files
|	|- _fonts.scss              # Font Import
|	|- _mixins.scss             # Scss Mixins
|	|- _variables.scss          # Scss Variables
|
|- Pages/
|	|- _shop.scss          # Import all base .scss files
|	|- _userlist.scss              # Custom Reset/Normalize
|	|- _product.scss         # Typography Rules
|	…                           # Etc.
|
|- Components/
|	|- __components-dir.scss    # Import all components .scss files
|	|- _button.scss             # Button Styles
|	|- _input.scss              # Input Styles
|	|- _modal.scss              # Modal Styles
|	…	                    # Etc.
|
|- Layouts/
|	|- __layouts.scss       # Import all layouts .scss files
|	|- _footer.scss             # Footer Styles
|	|- _shop-nav.scss    # Main Navigation Styles
|	…                           # Etc.
|
`styles.scss                        # Main Scss File
*/

// #######################  Abstracts

@use 'abstracts/_variables';
@use 'abstracts/_fonts';

// #######################  Pages

@use 'pages/_shop.scss';
@use 'pages/_user.scss';
@use 'pages/_userlist.scss';
@use 'pages/_productlist.scss';





body{
  #product-list{
    .p-tabview-nav-content{ 
      .p-tabview-nav{
         display: none;
      }  
    }
  }

}


//********************************************
//**************    My SCSS   ****************
//********************************************
.hidden{
  display:none;
}
