<template>
<div class="box-product">
  <div class="grid">
    <div class="col pl-0">
      <div class="grid">
        <div class="col-fixed fixed-div"  style="" >
          <div class="detail-img">
          <img alt="user header" :src="imgUrl('product1')">
          </div>
        </div>
        <div class="col">
          <h2>{{ obj.name }} </h2>
           <ScrollPanel style=" height: 218px">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              Vitae et leo duis ut diam.
              Ultricies mi quis hendrerit dolor magna eget est lorem. Amet consectetur adipiscing elit ut.
              Nam libero justo laoreet sit amet. Pharetra massa massa ultricies mi quis hendrerit dolor magna.
              Est ultricies integer quis auctor elit sed vulputate. Consequat ac felis donec et. Tellus orci ac auctor augue mauris.
              Semper feugiat nibh sed pulvinar proin gravida hendrerit lectus a. Tincidunt arcu non sodales neque sodales.
              Metus aliquam eleifend mi in nulla posuere sollicitudin aliquam ultrices. Sodales ut etiam sit amet nisl purus.
              Cursus sit amet dictum sit amet. Tristique senectus et netus et malesuada fames ac turpis egestas.
              Et tortor consequat id porta nibh venenatis cras sed. Diam maecenas ultricies mi eget mauris.
              Eget egestas purus viverra accumsan in nisl nisi. Suscipit adipiscing bibendum est ultricies integer.
              Mattis aliquam faucibus purus in massa tempor nec.
            </p>
        </ScrollPanel>
        </div>
      </div>
    </div>
    <div class="col-3 pt-0">
      <h2>Zutaten </h2>
      <ul>
        <li class="p-d-inline-block">
          <span>
          Mehl
          </span>
        </li>
        <li class="p-d-inline-block">
          <span>
          Kirchen  
          </span>
        </li>
        <li class="p-d-inline-block">
          <span>
          Hefe
          </span>
        </li>
        <li class="p-d-inline-block">
          <span>
          Milch 
          </span>
        </li>
        <li class="p-d-inline-block">
          <span>
          Butter 
          </span>
        </li>
        <li class="p-d-inline-block">
          <span>
          Wasser 
          </span>
        </li>
      </ul>
    </div>
    <div class="col-2">
      <div class="grid">
        <div class="col text-center">
          <span class="price">5,99€</span>
        </div>
        <div class="col">
          <div class="p-inputgroup mb-3">
            <span class="p-inputgroup-addon"> <i class="pi pi-plus"></i></span>
            <InputText class="text-center" placeholder="1" />
            <span class="p-inputgroup-addon"> <i class="pi pi-minus"></i></span>
          </div>
        </div>
        <div class="col">
          <button>Einkaufskorb</button>
        </div>
      </div>
    </div>
  </div>
</div>
</template>



<script>
export default {
  props: ['obj'],
  data() {  
    return{
    }
  },
  methods:{
    imgUrl (img) {
     return require(`@/assets/${img}.png`)
    },
  }
}
</script>
