<template>
  <div :class="'box-img ' + 'image'+obj.id"  >
   <img alt="user header" :src="imgUrl(obj.images[0])">
  </div>
</template>
  
<script>
export default {
  props: ['obj'],
  data() {  
    return{
    }
  },
  methods:{
    imgUrl (name) {
      //return require(`@/assets/${img}.png`)
      if(name.indexOf("data:image") != -1){
        return name;
      }
      if(name.indexOf("blob")  != -1 ){ 
        console.log("userlist blob")
        return null;
      }
      console.log("userlist image url")
      return "http://127.0.0.1:8000/static/products/" + name;
    },
  }

}
</script>
