<template>
<form @submit.prevent="submitForm">
  <div class="grid">
   <Toast position="top-right" />
   <BaseCard v-if="isLoading" class="m-auto col-3 mt-8">
    <div class="flex justify-content-start flex-wrap card-container h-19rem">
        <div class="p-col-12">
        <h1 class="text-400">Loading ...</h1>
        </div>
        <ProgressSpinner class="p-progress-spinner-color" />
    </div>
   </BaseCard>
   <BaseCard v-else class="m-auto col-3  mt-8">
      <h1 class="p-text-center mt-0">Admin Login</h1>
      <div class="p-fluid grid">
        <div class="p-field p-col-12 ">
            <span class="p-float-label">
              <InputText id="username" type="text" class="p-inputtext-lg" :class="{'p-invalid': !username.isValid}" v-model.trim="username.val" />
              <label for="username">Username</label>
            </span>
            <small v-if="!username.isValid" class="p-error">Trage ein Username ein</small>
        </div>
        <div class="p-field p-col-12 ">
            <span class="p-float-label">
              <InputText id="password" type="text" class="p-inputtext-lg" :class="{'p-invalid': !password.isValid}" v-model.trim="password.val" />
              <label for="username">Password</label>
            </span>
            <small v-if="!password.isValid" class="p-error">Trage ein Password ein</small>
        </div>
        <!-- <div class="p-field p-col-12 "> -->
        <!--   <span class="p-float-label"> -->
        <!--     <InputText id="email" v-model.trim="email.val" class="p-inputtext-lg" :class="{'p-invalid': !email.isValid }"  /> -->
        <!--     <label for="email">Email</label> -->
        <!--   </span> -->
        <!--   <small v-if="!email.isValid && !email.equal" class="p-error">Trage ein Email-Adresse ein</small> -->
        <!--   <small v-if="!email.isValid == true && !email.equal == false " class="p-error">Diese Email-Adresse ist ungültisch</small> -->
        <!-- </div> -->
     </div>
    <div class="grid">
      <div class="col-12">
        <Button type="submit" label="Submit" class="p-mt-2 p-button-lg  p-button-warning" />
      </div>
    </div>
   </BaseCard>
  </div>
</form> 
</template>

<script>
  export default {
    components: {
    },
    data() {
      return {
        username: { val: '', isValid: true },
        password: { val: '', isValid: true },
        formIsValid: true, 
        filter : /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/,
        isLoading: false,
        messages: [],
      }
    },
    created(){
    },
    mounted(){
    },
    methods: {
      showSuccess(message) {
          this.$toast.add({severity:'success', summary: 'Success Message', detail:message, life: 6000});
      },
      showError(message) {
          this.$toast.add({severity:'error', summary: 'Error Message', detail: message, life: 3000});
      },
      saveData(data){
         this.$store.dispatch('coaches/registerCoach', data) 
      }, 
      validateForm(){
        if(this.username.val ===''){
          this.username.isValid = false;
          this.formIsValid = false;
        }else{
          this.username.isValid = true;
          this.formIsValid = true;
        }
        if(this.password.val ===''){
          this.password.isValid = false;
          this.formIsValid = false;
        }else{
          this.password.isValid = true;
          this.formIsValid = true;
        }
      },
      async submitForm(){ 
        this.validateForm();
        if(!this.formIsValid){
          return; 
        }   
        const formData = {
          username: this.username.val,
          password: this.password.val,
        }
        

        this.isLoading = true

        try{
         const response = await this.$store.dispatch('adminAuth/login', {
              username: this.username.val,
              password: this.password.val,
          });
          if(response instanceof Error){
            this.showError(response.message)
          }else{
            this.showSuccess(response.message)
          } 
        }catch(err){
          let error = err.message || 'Failed to authenticate, try later.' 
          this.showError(error)
        }
        
         this.isLoading = false 
         console.log(formData)
      }
    }
  }
</script>

<style lang="scss" scoped>
@keyframes .p-progress-spinner-color {
    100%,
    0% {
        stroke: #000000 !important;
    }
    40% {
        stroke: #008744 !important;
    }
    66% {
        stroke: #ffa700;
    }
    80%,
    90% {
        stroke: #ffa700;
    }
}
</style>

