<template>
  <form ref="form" @submit.prevent="submitForm">
    <div class="p-grid">
    </div>
    <div class="p-grid">
      <div class="p-fluid grid">
        <div class="p-field p-col-12 p-md-6">
          <span class="p-float-label">
            <InputText
              id="titel"
              type="text"
              @change="instantValidation($event)"
              class="p-inputtext-lg"
              v-model.trim="titel.val"
            />
            <label for="titel">Titel</label>
          </span>
          <small v-if="!titel.isValid" class="p-error"
            >Trage ein Titel ein</small
          >
        </div>
        <div class="p-field p-col-12 p-md-6">
          <span class="p-float-label">
            <div class="p-inputgroup">
              <InputNumber
                id="price"
                class="p-inputtext-lg"
                @change="instantValidation($event)"
                v-model="price.val"
                mode="decimal"
                locale="de-DE"
                :minFractionDigits="2"
              />
              <label for="price" class="pl-2">Price</label>
              <span class="p-inputgroup-addon"> €</span>
            </div>
          </span>
          <small v-if="!price.isValid" class="p-error"
            >Trage ein Preis ein</small
          >
        </div>
        <div v-if="show" class="p-field p-col-12 p-md-6">
          <span class="p-float-label">
            <div class="p-inputgroup">
              <InputNumber
                id="liter"
                class="p-inputtext-lg"
                @change="instantValidation($event)"
                v-model="liter.val"
                mode="decimal"
                locale="de-DE"
                :minFractionDigits="2"
              />
              <label for="liter" class="pl-2">liter</label>
              <span class="p-inputgroup-addon">L</span>
            </div>
          </span>
          <small v-if="!liter.isValid" class="p-error"
            >Trage ein Liter einheit ein</small
          >
        </div>
        <div v-if="show" class="p-field p-col-12 p-md-6">
          <span class="p-float-label">
            <div class="p-inputgroup">
              <InputNumber
                id="deposit"
                class="p-inputtext-lg"
                @change="instantValidation($event)"
                v-model="deposit.val"
                mode="decimal"
                locale="de-DE"
                :minFractionDigits="2"
              />
              <label for="deposit" class="pl-2">Pfand</label>
              <span class="p-inputgroup-addon"> €</span>
            </div>
          </span>
          <small v-if="!deposit.isValid" class="p-error"
            >Trage ein Pfand einheit ein</small
          >
        </div>
      </div>
      <div class="p-field p-col-12">
        <span class="p-float-label">
          <Textarea
            v-model.trim="description.val"
            @change="instantValidation($event)"
            rows="5"
            cols="30"
          />
          <label for="description">Beschreibung</label>
        </span>
        <small v-if="!description.isValid" class="p-error"
          >Trage ein Beschreibung ein</small
        >
      </div>
      <div class="grid">
        <div
          v-if="images.length"
          v-for="(image, index) in images"
          :key="index"
          class="card mb-3"
        >
          <div
            class="
              flex
              align-items-stretch
              flex-wrap
              card-container
              img-container
            "
            style="min-height: 200px"
          >
            <Avatar
              icon="pi pi-times"
              class="p-mr-2 x-icon"
              @click="removeImage(index)"
              size="large"
              shape="circle"
            />
            <div
              class="flex font-bold text-white border-round m-2 bg-center"
              :style="{ backgroundImage: 'url(' + image.objectURL + ')' }"
              style="
                min-width: 200px;
                min-height: 50px;
                background-repeat: no-repeat;
                background-size: cover;
              "
            ></div>
          </div>
        </div>
        <div v-show="!hideUpload" class="card mb-3">
          <div
            class="
              flex
              align-items-stretch
              flex-wrap
              card-container
              img-container
            "
            @click="chooseFile"
            style="min-height: 200px"
          >
            <div
              class="
                flex
                align-items-center
                justify-content-center
                font-bold
                text-white
                border-round
                m-2
                bg-blue-500 bg-center
              "
              style="min-width: 200px; min-height: 50px"
            >
              <p class="text-center text-white pt-3">
                Bild <br />
                Upload
              </p>
              <FileUpload
                ref="uploadButton"
                mode="basic"
                :multiple="true"
                :customUpload="true"
                accept="image/*"
                class="hidden"
                @uploader="onUpload"
                :auto="true"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="grid">
        <div v-show="!show" class="p-field p-col-12 p-md-6">
          <span class="p-float-label">
            <Chips
              v-model="side_dish.val"
              separator=","
              class="p-inputtext-lg"
            />
            <label for="side_dish">Beilage mit Komma trennen</label>
          </span>
        </div>
        <div class="p-field p-col-12 p-md-6">
          <span class="p-float-label">
            <Chips v-model="variety.val" separator="," class="p-inputtext-lg" />
            <!-- <InputText id="variety" type="text" @change="instantValidation($event)" class="p-inputtext-lg" v-model="variety.val" /> -->
            <label for="variety">Variationen</label>
          </span>
        </div>
        <div class="p-field p-col-12 p-md-6">
          <span class="p-float-label">
            <Chips
              v-model="ingredients.val"
              separator=","
              class="p-inputtext-lg"
            />
            <label for="ingredients">Zutaten mit komma trennen</label>
          </span>
        </div>
        <div class="p-field p-col-12 p-md-6">
          <span class="p-float-label">
            <Dropdown
              id="category"
              type="text"
              class="p-inputtext-lg"
              v-model="category.val"
              :options="user.enum"
              optionLabel="name"
            />
            <label for="category">Kategorie</label>
          </span>
        </div>
        <div v-if="!show" class="p-field p-col-12 p-md-6">
          <span class="p-float-label">
            <Chips v-model="extra.val" separator="," class="p-inputtext-lg" />
            <label for="extra">Extra mit Komma trennen</label>
          </span>
        </div>
      </div>
    </div>
    <div class="grid">
      <div class="col-6 col-offset-6">
        <Button type="submit" label="Submit" class="p-mt-2 p-button-warning" />
      </div>
    </div>
  </form>
</template>
<script>
const pause = (ms) => new Promise((resolve) => setTimeout(resolve, ms));
export default {
  props: ["selectProduct"],
  emits: ["save-data"],
  data() {
    return {
      titel: { val: "", isValid: true },
      description: { val: "", isValid: true },
      price: { val: null, isValid: true },
      deposit: { val: null, isValid: true },
      liter: { val: null, isValid: true },
      category: { val: "", isValid: true },
      side_dish: { val: null, isValid: true },
      variety: { val: null, isValid: true },
      ingredients: { val: null, isValid: true },
      extra: { val: null, isValid: true },
      kind: this.selectProduct,
      images: [],
      blobImages: [],
      formIsValid: true,
      show: false,
      maxUpload: 6,
      hideUpload: false,
    };
  },
  computed: {
    selected() {
      return this.images.map((img) => img);
    },
    user() {
      return this.$store.getters["adminAuth/user"] || {};
    },
  },
  async mounted() {
    // this.section = this.$store.getters['adminAuth/user']
  },
  watch: {
    selected: function (newVal, oldVal) {
      if (newVal.length >= this.maxUpload) {
        this.hideUpload = true;
      } else {
        this.hideUpload = false;
      }
    },
    selectProduct: function (newVal, oldVal) {
      console.log(newVal)
      if (newVal === "Getränk") {
        this.show = true;
        this.kind = "Getränk";
      } else {
        this.show = false;
        this.kind = "Speise";
      }
    },
  },
  methods: {
    removeImage(imgId) {
      // splice ( index, how many element should be remove from this index  )
      this.images.splice(imgId, 1);
      this.blobImages.splice(imgId, 1);
    },
    onUpload(event) {
      let uploads = event.files;
      console.log(uploads.length);
      console.log(this.images.length);
      let resp = this.images.length + uploads.length;
      console.log(resp);

      console.log("--------------------------");
      // console.log(this.$refs.uploadButton)
      if (uploads.length <= this.maxUpload && this.images.length === 0) {
        for (let i = 0; i < uploads.length; i++) {
          this.images.push(uploads[i]);
          // base64 encode the image data before putting it into JSON
          let reader = new FileReader();

          var that = this;
          reader.onloadend = function () {
            that.blobImages.push(reader.result);
          };
          reader.readAsDataURL(uploads[i]);
        }
        console.log(this.blobImages);
      } else if (resp <= this.maxUpload) {
        for (let i = 0; i < uploads.length; i++) {
          this.images.push(uploads[i]);
          //console.log(event.files[i])
          let reader = new FileReader();

          var that = this;
          reader.onloadend = function () {
            that.blobImages.push(reader.result);
          };
          reader.readAsDataURL(uploads[i]);
        }
      } else {
        if (this.images.length < this.maxUpload) {
          console.log("bu");
          console.log(
            `Es wurden ${
              resp - this.maxUpload
            } Bilder zu viel ausgewählt. Wähle maximal ${
              this.maxUpload - this.images.length
            } Bilder aus `
          );
        } else {
          console.log(
            "Es können nicht  mehr " +
              this.maxUpload +
              " Bilder geuploadet werden"
          );
        }
      }
      this.$refs.uploadButton.clearInputElement();
      this.$refs.uploadButton.clear();
    },
    chooseFile() {
      this.$refs.uploadButton.onBasicUploaderClick();
    },
    showSuccess(message) {
      this.$toast.add({
        severity: "success",
        summary: "Success Message",
        detail: message,
        life: 6000,
      });
    },
    showError(message) {
      this.$toast.add({
        severity: "error",
        summary: "error message",
        detail: message,
        life: 3000,
      });
    },
    instantValidation($event) {
      // dropdown validation
      //console.log($event.target.value)

      if ($event.target.id == "titel" && !$event.target.value.length) {
        this.titel.isValid = false;
        this.formIsValid = false;
      } else {
        this.titel.isValid = true;
        this.formIsValid = true;
      }
      if ($event.target.id == "price" && !$event.target.value.length) {
        this.price.isValid = false;
        this.formIsValid = false;
      } else {
        this.price.isValid = true;
        this.formIsValid = true;
      }
      if ($event.target.type == "textarea" && !$event.target.value.length) {
        this.description.isValid = false;
        this.formIsValid = false;
      } else {
        this.description.isValid = true;
        this.formIsValid = true;
      }
      if (this.selectProduct === "Getränk") {
        if ($event.target.id == "liter" && !$event.target.value.length) {
          this.liter.isValid = false;
          this.formIsValid = false;
        } else {
          this.liter.isValid = true;
          this.formIsValid = true;
        }
        if ($event.target.id == "deposit" && !$event.target.value.length) {
          this.deposit.isValid = false;
          this.formIsValid = false;
        } else {
          this.deposit.isValid = true;
          this.formIsValid = true;
        }
      }
    },
    validateForm() {
      let inputs = this.$refs.form;
      console.log(this.selectProduct);
      /*
      for (var i = 0; i < inputs.length; i++){
        // validation inputs fields, type of  text and numbers
        if(inputs[i].value === '' &&  inputs[i].id !== ''){
          if(inputs[i].type === "text" || inputs[i].type === "number"){
              eval("this." + this.$refs.form[i].id + ".isValid=" +"false")
              this.formIsValid = false;
          }
          if(this.$refs.form[i].type === "password"){
              eval("this." + this.$refs.form[i].id + ".isValid=" +"false")
              this.formIsValid = false;
          }
        }
      }
      */
      if (this.titel.val === "") {
        this.titel.isValid = false;
        this.formIsValid = false;
      }
      if (this.price.val === null) {
        this.price.isValid = false;
        this.formIsValid = false;
      }
      if (this.description.val === "") {
        this.description.isValid = false;
        this.formIsValid = false;
      }
      if (this.selectProduct === "Getränk") {
        if (this.liter.val === "") {
          this.liter.isValid = false;
          this.formIsValid = false;
        }
        if (this.deposit.val === null) {
          this.deposit.isValid = false;
          this.formIsValid = false;
        }
      }
    },
    async submitForm() {
      this.validateForm();
      if (!this.formIsValid) {
        this.showError("Bitte befühle alle Felder richtig aus!");
        return;
      }
      const formData = {
        titel: this.titel.val,
        price: this.price.val,
        description: this.description.val,
        liter: this.liter.val,
        deposit: this.deposit.val,
        side_dish: this.side_dish.val,
        variety: this.variety.val,
        ingredients: this.ingredients.val,
        category: this.category.val.name,
        extra: this.extra.val,
        images: this.blobImages,
        kind: this.kind,
      };

      try {
       await  this.$store.dispatch('products/addProduct', formData) 
      }catch(err){
          this.error = err.message || 'Failed to authenticate, try later.' 
      }
    
    },
  },
};
</script>
<style lang="scss" scoped>
.x-icon {
  position: absolute;
  right: -13px;
  background-color: var(--yellow-500);
}
.img-container {
  position: relative;
}
#app .p-tabview .p-tabview-nav{
  display: none !important;
  border:none !important;
}
</style>
