<template>
<form ref="form" @submit.prevent="submitForm">
  <div class="p-fluid grid">
    <div class="p-field p-col-12 p-md-6">
        <span class="p-float-label">
          <InputText id="username" type="text" class="p-inputtext-lg" :class="{'p-invalid': !username.isValid}" @input="instantValidation($event)"  v-model="username.val" />
          <label for="username">Username</label>
        </span>
        <small v-if="!username.isValid" class="p-error">Trage ein Username ein</small>
    </div>
    <div class="p-field p-col-12 p-md-6">
        <span class="p-float-label">
            <InputText id="email" type="text" class="p-inputtext-lg"  :class="{'p-invalid': !email.isValid}" @input="instantValidation($event)"   v-model="email.val" />
            <label for="email">Email</label>
        </span>
        <small v-if="!email.isValid" class="p-error">Trage eine Email-Adresse ein</small>
        <small v-if="!email.equal" class="p-error">Die Email Adresse ist nicht ungültisch</small>
    </div>
    <div class="p-field p-col-12 p-md-6">
      <span class="p-float-label">
        <Password id="password1" v-model="password1.val" class="p-inputtext-lg" :class="{'p-invalid': !password1.isValid }"  @input="instantValidation($event)" toggleMask />
        <label for="password1">Password</label>
      </span>
      <small v-if="!password1.isValid && email.equal" class="p-error">Trage ein Password ein</small>
        <small v-if="!password1.equal" class="p-error">Die email adresse ist nicht indentisch</small>
    </div>
    <div class="p-field p-col-12 p-md-6">
      <span class="p-float-label">
        <Password id="password2" v-model="password2.val" class="p-inputtext-lg" :class="{'p-invalid': !password2.isValid}" @input="instantValidation($event)" toggleMask />
        <label for="password2">Password</label>
      </span>
    </div>
    <div class="p-field p-col-12 p-md-6">
      <span class="p-float-label">
        <InputText id="firstName" type="text" class="p-inputtext-lg"  :class="{'p-invalid': !firstName.isValid}" @input="instantValidation($event)"   v-model="firstName.val" />
        <label for="firstName">Vorname</label>
      </span>
      <small v-if="!firstName.isValid" class="p-error">Trage einen Vorname ein</small>
    </div>
    <div class="p-field p-col-12 p-md-6">
      <span class="p-float-label">
        <InputText id="lastName" type="text" class="p-inputtext-lg"  :class="{'p-invalid': !lastName.isValid}"  @input="instantValidation($event)"   v-model="lastName.val" />
        <label for="lastName">Nachname</label>
      </span>
      <small v-if="!lastName.isValid" class="p-error">Trage einen Nachname ein</small>
    </div>
    <div class="p-field p-col-12 p-md-6">
      <span class="p-float-label">
        <InputText id="street" type="text" class="p-inputtext-lg"  :class="{'p-invalid': !street.isValid}"  @input="instantValidation($event)"  v-model="street.val" />
        <label for="street">Str.</label>
      </span>
      <small v-if="!street.isValid" class="p-error">Trage eine Straße ein</small>
    </div>
    <div class="p-field p-col-12 p-md-6">
        <span class="p-float-label">
            <InputText id="streetNumber" type="number" class="p-inputtext-lg"  :class="{'p-invalid': !streetNumber.isValid}"  @input="instantValidation($event)" v-model="streetNumber.val" />
            <label for="streetNumber">Nr.</label>
        </span>
        <small v-if="!streetNumber.isValid" class="p-error">Trage eine Nummer ein</small>
    </div>
    <div class="p-field p-col-12 p-md-6">
        <span class="p-float-label">
            <InputText id="phoneNumber" type="number" class="p-inputtext-lg"  :class="{'p-invalid': !phoneNumber.isValid}"  @input="instantValidation($event)" v-model="phoneNumber.val" />
            <label for="phoneNumber">Handy Nr.</label>
        </span>
        <small v-if="!phoneNumber.isValid" class="p-error">Trage eine Handy Nr. ein</small>
    </div>
    <div class="p-field p-col-12 p-md-6">
        <span class="p-float-label">
            <InputText id="zipcode" type="number" class="p-inputtext-lg"  :class="{'p-invalid': !zipcode.isValid}"  @input="instantValidation($event)" v-model="zipcode.val" />
            <label for="zipcode">PLZ</label>
        </span>
        <small v-if="!zipcode.isValid" class="p-error">Trage eine PLZ ein</small>
    </div>
    <div class="p-field p-col-12 p-md-6">
      <span class="p-float-label">
        <InputText id="city" type="text" class="p-inputtext-lg"  :class="{'p-invalid': !city.isValid}"  @input="instantValidation($event)" v-model="city.val" />
        <label for="city">Stadt</label>
      </span>
        <small v-if="!city.isValid" class="p-error">Trage eine Stadt ein</small>
    </div>
    <div class="p-field p-col-12 p-md-6">
      <span class="p-float-label">
          <InputText id="state" type="text"  class="p-inputtext-lg"  :class="{'p-invalid': !state.isValid}" @input="instantValidation($event)" v-model="state.val" />
          <label for="state">Bundesland</label>
      </span>
        <small v-if="!state.isValid" class="p-error">Trage eine Bundesland ein</small>
    </div>
    <div class="p-field p-col-12 p-md-6">
      <span class="p-float-label">
          <Dropdown  id="role" type="dropdown" class="p-inputtext-lg"  :class="{'p-invalid': !role.isValid}" v-model="role.val"  @change="instantValidation($event)" :options="roles" optionLabel="name"  />
          <label for="role">User Type</label>
      </span>
        <small v-if="!role.isValid" class="p-error">Wähle einen Benutzer aus</small>
    </div>
  </div>
  <div class="grid">
    <div class="col-6 col-offset-6">
      <Button type="submit" label="Submit" class="p-mt-2 p-button-warning" />
    </div>
  </div>
</form>
</template>
<script>
export default{
  emits: ['save-data'],
  props: ["selectProduct", "object"],
  data() {
    return {
      username: { val: this.object.username, isValid: true },
      email: { val: this.object.email , equal:true, isValid: true },
      password1:{ val: this.object.password,equal:true, isValid: true },
      password2:{ val: this.object.password , isValid: true },
      firstName:{ val: this.object.first_name , isValid: true },
      lastName:{ val: this.object.last_name , isValid: true },
      street:{ val: this.object.street , isValid: true },
      streetNumber:{ val: this.object.street_number , isValid: true },
      phoneNumber:{ val: this.object.phone_number, isValid: true },
      city: { val: this.object.city, isValid: true },
      state:{ val: this.object.state, isValid: true },
      zipcode: { val: this.object.zipcode, isValid: true },
      role:{ val: this.object.role, isValid: true },
      roles:[
        {name: 'user'},
        {name: 'admin'},
      ],
        formIsValid:true,
      filter : /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/,
    }
  },
  watch:{
    role: function(newVal, oldVal){
      // console.log(newVal)
    } 
  },
  methods:{
    instantValidation($event){
      // dropdown validation
      if(typeof $event.value !== 'undefined' ){
        let name = $event.value.name
        if(name !== null && name !== ''){
        this.role.isValid = true;
          this.formIsValid = true;
        }
      }

      if(typeof $event.target !== 'undefined' ){
        if($event.target.value == ""){
          eval("this." + $event.target.id + ".isValid=" +"false"  )
          this.formIsValid = false;
        }else{
          eval("this." + $event.target.id + ".isValid=" +"true"  )
          this.formIsValid = true;
        }


        // email live validation
        if($event.target.id === "email" && !this.filter.test(this.email.val)){ 
          eval("this." + $event.target.id + ".equal=" +"false"  )
          this.formIsValid = false;
        }else{
          eval("this." + $event.target.id + ".equal=" +"true"  )
          this.formIsValid = true;
        }
      
        // password live validation
        if($event.target.id === "password2" || $event.target.id === "password1" ){ 
          if(this.password1.val !== this.password2.val ){
            this.password1.equal = false;
            this.password2.isValid = false;
            this.formIsValid = false;
          }else{
            this.password1.isValid = true;
            this.password1.equal = true;
            this.password2.isValid = true;
            this.formIsValid = true;
          }
        }
      }
    },
    validateForm(){

      let inputs = this.$refs.form;

      for (var i = 0; i < inputs.length; i++){
        // validation inputs fields, type of  text and numbers
        if(inputs[i].value === '' &&  inputs[i].id !== ''){
          if(inputs[i].type === "text" || inputs[i].type === "number"){
              eval("this." + this.$refs.form[i].id + ".isValid=" +"false")
              this.formIsValid = false;
          }
          if(this.$refs.form[i].type === "password"){
              eval("this." + this.$refs.form[i].id + ".isValid=" +"false")
              this.formIsValid = false;
          }
        }
      }

      if(this.role.val === null){
        this.role.isValid = false;
        this.formIsValid = false;
      }
      if(this.password1.val !== this.password2.val ){
        this.password1.isValid = false;
        this.password1.equal = false;
        this.password2.isValid = false;
        this.formIsValid = false;
      }
      if(!this.filter.test(this.email.val)){
        this.email.equal = false;
        this.formIsValid = false;
      }
    },
    submitForm(){ 
      this.validateForm();
      if(!this.formIsValid){
        console.log("goup")
        this.showError("Bitte befühle alle Felder richtig aus!")
        return; 
      }   
      const formData = {
        id : this.object.id,
        username: this.username.val,
        email: this.email.val,
        password: this.password2.val.toString(),
        first_name: this.firstName.val,
        last_name: this.lastName.val,
        street: this.street.val,
        street_number: parseInt(this.streetNumber.val),
        phone_number: parseInt(this.phoneNumber.val),
        state: this.state.val,
        city: this.city.val,
        zipcode: parseInt(this.zipcode.val),
        role: this.role.val.name,
        create_at : this.object.create_at,
        is_active: this.object.is_active,
      }
      console.log("password")
      console.log(formData.password)
      console.log(this.object.password)

      this.updateUser(formData)
    },
    async updateUser(data){
       await this.$store.dispatch('adminAuth/update', data) 
    },
    showSuccess(message) {
        this.$toast.add({severity:'success', summary: 'Success Message', detail:message, life: 6000});
    },
    showError(message) {
        this.$toast.add({severity:'error', summary: 'Error Message', detail: message, life: 3000});
    },
    resetForm(){
       this.username = '',
       this.email = '',
       this.password1 = '',
       this.password2 = '',
       this.firstName = '',
       this.lastName = '',
       this.street = '',
       this.streetNumber = null,
       this.phoneNumber = null,
       this.state = '',
       this.city = '',
       this.zipcode = null,
       this.role = null
    }
  }
}
</script>
