<template>
	<div class="p-col-12 layout-topbar">
      <div class="flex flex-row flex-wrap ">
          <div class="flex align-content-center flex-wrap h-6rem p-col-1 justify-content-center">
            <p>Login</p>
          </div>
          <div class="flex align-content-center flex-wrap h-6rem p-col-5">
              <router-link to="/admin/productlist">
                <Avatar icon="pi pi-users" class="p-mr-2" size="large" style="background-color:#EEEEEE; color: #609af8"/>
              </router-link>
              <router-link to="/admin/userlist">
                <Avatar icon="pi pi-user-edit" class="p-mr-2" size="large" style="background-color:#EEEEEE; color: #609af8"/>
              </router-link>
              <Avatar icon="pi pi-sliders-v" class="p-mr-2" size="large" style="background-color:#EEEEEE; color: #609af8"/>
              <Avatar icon="pi pi-paypal" class="p-mr-2" size="large" style="background-color:#EEEEEE; color: #609af8"/>
          </div>
          <div class="flex align-content-center flex-wrap h-6rem p-col-1">
               <h1 class="h1-title text-400">User List</h1>
          </div>
          <div class="flex align-content-center flex-row-reverse flex-wrap  h-6rem p-col-5">
                <Avatar @click="logout" icon="pi pi-sign-out" class="p-mr-2 " size="large" style="background-color:#EEEEEE; color:#609af8"/>
          </div>
      </div>
  </div>
</template>

<script>

	export default {
    data() {
      return {
        items: [
          {
            label:'find a Coach',
            icon:'pi pi-fw pi-home',
            to: "/",
          },
          {
            label:'All Coaches',
            icon:'pi pi-fw pi-users',
            to: "/coaches",
          },
          {
            label:'Users',
            icon:'pi pi-fw pi-user',
            to: "/register",
          },
          {
            label:'Requests',
            icon:'pi pi-fw pi-envelope',
            to: "/requests",
          },
          {
            label:'Quit',
            icon:'pi pi-fw pi-power-off'
          }
        ]
      }
    },
    methods: {
      logout(){
        this.$store.dispatch('adminAuth/logout')
        //this.router.replace("/login")
      }
    },
}
</script>

<style lang="scss" scoped>
  .h1-title{
    font-family: Avenir;
  }
</style>
