<template>
  <div class="flex flex-wrap align-items-center justify-content-center">
    <div class="border-round w-4rem mt-5">
      <Avatar icon="pi pi-users" class="p-mr-2 mb-2" size="xlarge" style="background-color:#FFFFFF; color: #609af8"/>
      <Avatar icon="pi pi-user-edit" class="p-mr-2 mb-2" size="xlarge" style="background-color:#FFFFFF; color: #609af8"/>
      <Avatar icon="pi pi-sliders-v" class="p-mr-2 mb-2" size="xlarge" style="background-color:#FFFFFF; color: #609af8"/>
      <Avatar icon="pi pi-paypal" class="p-mr-2 mb-2" size="xlarge" style="background-color:#FFFFFF; color: #609af8"/>
    </div>
  </div>
</template>
