<template>
  <section class="p-col-12"> 
    <Card>
      <template #title>
       Page Not Found! 
      </template>
      <template #content>
          <router-link to="/">
            <Button icon="pi pi-home" label="Back to home" class="p-button-secondary" style="margin-left: .5em" />
          </router-link>
      </template>
      <template #footer>
          <router-view></router-view>
      </template>
    </Card>
  </section>
</template>
