<template>
<form @submit.prevent="submitForm">
  <Card class="mt-2 bg-green-100">
    <template #header>
    </template>
    <template #title>
        Pro Coder for everthing1! 
    </template>
    <template #content>
        <div class="grid">
          <div class="p-field p-col-12 p-md-6">
            <span class="p-float-label">
              <InputText id="email" type="text" class="p-inputtext-lg"  :class="{'p-invalid': !email.isValid}" v-model="email.val" />
              <label for="email">Email</label>
            </span>
            <small v-if="!email.isValid" class="p-error">Trage eine Email-Adresse ein</small>
          </div>
          <div class="p-field p-col-12">
            <span class="p-float-label">
              <Textarea v-model="description.val"  :class="{'p-invalid': !description.isValid}" rows="5" cols="30" />
              <label for="description">Beschreibung</label>
            </span>
            <small v-if="!description.isValid" class="p-error">Trage eine Beschreibung ein</small>
          </div>
        </div>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
        <router-view></router-view>
        quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!
    </template>
    <template #footer>
      <div class="grid">
        <div class="col-6 col-offset-6">
          <Button type="submit" label="Submit" class="p-mt-2 p-button-warning" />
        </div>
      </div>
    </template>
  </Card>
</form>
</template>
<script>

export default {
  data(){
    return {
      email: { val: '', equal:true, isValid: true },
      description: { val: '', isValid: true },
      formIsValid:true,
    }
  },
  methods:{
    validateForm(){
      if(this.description.val ===''){
        this.description.isValid = false;
        this.formIsValid = false;
      }
      if(this.email.val ==='' || !this.email.val.includes('@')){
        this.email.isValid = false;
        this.formIsValid = false;
      }
    },
    submitForm(){
      this.validateForm()
      if(!this.formIsValid){
        return; 
      }   
      console.log(this.$route.params.id)
      this.$store.dispatch('requests/contactCoach', {
        email: this.email.val,
        message: this.description.val,
        coachId: this.$route.params.id
      });
      this.$router.replace('/requests')
    }
  },
  computed:{
  },
  created(){
  }
}
</script>
