<template>
  <section class="p-col-12"> 
      <BaseCard>
      <h2>Request Received</h2>
        <ul v-if="hasRequests">
          <RequestItem 
          v-for="req in receivedRequests" 
          :key="req.id"
          :email="req.userEmail"
          :message="req.message"
          > </RequestItem>
        </ul>
        <h3 v-else>You haven't received any requests yet!</h3>
      </BaseCard>
  </section>
</template>

<script>
import RequestItem from '../../components/requests/RequestItem.vue'
export default {
  components: {
    RequestItem
  },
  computed: {
    receivedRequests(){
      console.log(this.$store.getters['requests/requests'])
      return this.$store.getters['requests/requests']
    },
    hasRequests(){
      return this.$store.getters['requests/hasRequests']
    }
  },
  methods: {

  },
  methods: {
  }
}
</script>

