//********************************************
//**************    SHOP SCSS    *************
//********************************************

body{
  #shop-page{
   section.menubar{
     min-height: 120px;
     background-color: var(--color3);
     //background: linear-gradient(#22405B,#101F2F);
     .top-space{
       padding-top: 54px;
       .p-button {
          background-color: white;
        }
     }
     ul{
       li {
        display: inline-block;
        padding-right: 1%;
        a{
          font-weight: bold;
          color: var(--color5);
          font-family: var(--font1);
          text-decoration: none;
        }
      }
     }
     .search{
       width: 100%;
     }
     .logo-circle{
       background-color: white;
        height: 12em;
        width: 12em;
        position: absolute;
        border-radius: 95px;
        border: 10px solid var(--color5);
        top: -41px;
        background-repeat:no-repeat;
        background-position: center center;
     }
      box-shadow: -2px 5px 5px 0px rgba(0,0,0,0.62);
      -webkit-box-shadow: -2px 5px 5px 0px rgba(0,0,0,0.62);
      -moz-box-shadow: -2px 5px 5px 0px rgba(0,0,0,0.62);
    } 
    section.gallery{
        clear:both;
        .box{
          .box-img{
            float:left;
            width:(100%/4);
            padding:0;
            margin:0;
            display: block;
            font-size:0px;
            img{
            font-size:0px;
              width: 100%;
              height: 100%;
            }
          }
          .box-product{
            padding:2rem;
            background-color: var(--color3);
            color: var(--color1);
            font-family: var(--font1);
            font-size: 1.2em;
            display: inline-block;
            h2{
              margin-top:0;
              color: var(--color1);
              font-family: var(--font1);
              font-weight:bold;
              border-bottom: 1px solid #0d1722;
            }
            p{
            }
            .grid{
              margin: 0 !important;
            }
            .col{
              padding: 0 2rem;
            }
            .fixed-div{
              width:289px;
              padding: 0 !important;
            }
            .detail-img{
              img{
                border-radius: 15px; 
                width: 100%;
                height: 100%; 
                display: block;
              }
            } 
            ul{
              margin: 0 !important;
              padding: 0 !important;
              li{
                width: 33%;
                margin-bottom: 1.8rem;
                span{
                  background-color: #0d1722;
                  padding: 0.5rem;
                  width: 100%;
                  padding: 0.5rem;
                  width: 100%;
                  border-radius: 5px;
                }
              }
            }
            .price{
              width:100%;
              font-size: 2em;
              font-family: var(--font1);
            }
            button{
              width: 100%;
              font-size: 1em;
              padding: 0.7rem;
              border-radius: 8px;  
              background: rgb(252,238,33);
              background: linear-gradient(180deg, rgba(252,238,33,1) 0%, rgba(252,144,33,1) 100%);
              color: var(--color3);
              font-weight: bold;
           }

          }
        }
      
    }
  }
}
