//********************************************
//**************    SHOP SCSS    *************
//********************************************

body{
  #user-page{ 
    
    background-image: linear-gradient(#101F2F,#101F2F);
    background-size: 100% 28%;
    background-repeat: no-repeat;
    height: 100%;

   section.sidebar{
     .logo-circle{
       background-color: white;
        height: 12em;
        width: 12em;
        border-radius: 95px;
        border: 10px solid var(--color5);
        top: -41px;
        background-repeat:no-repeat;
        background-position: center center;
     }
     min-height: 88px;
     //background: linear-gradient(#22405B,#101F2F);
  }
  .p-tabview-nav{
    display:none;
  }
  ul{
    li{
        padding-right: 1rem;
        text-decoration: none;
        color: var(--color1);
        font-family: var(--font1);
        font-size: 1.7em;
        cursor: pointer;
      
    }
  }
 }
}
