<template>
<div class="p-fluid">
  <section class="header p-grid">
    <TheHeader v-if="isAdmin" />
  </section>
  <section class="surface-200 content p-grid full-screen" >
    <div v-if="isAdmin" class="p-col-1 bg-blue-100 max-h-full">
      <TheSidebar  />
    </div>
    <div  :class="(this.isAdmin)?'p-col-11':'p-col-12 px-0'">
      <router-view />
    </div>
  </section>
  <section   class="content p-grid">
  </section>
</div>
</template>

<script>
import TheHeader from './components/layout/TheHeader.vue'
import TheSidebar from './components/layout/TheSidebar.vue'

export default {
    components: {
        TheHeader,
        TheSidebar
    },
    data() {
      return {

      }
    },
    watch: {
       
    },
    created() {
        this.$store.dispatch('adminAuth/autoLogin');

        this.$store.dispatch('userAuth/autoLogin');
        const isUser =  this.$store.getters['adminAuth/isAuthenticated'];
        console.log(this.$store.getters["userAuth/isAuthenticated"])
        if(isUser){
          this.$store.dispatch('adminAuth/loadUsersData'); 
        }
        this.$store.dispatch('products/loadProducts'); 

    },
    methods: {
    },
    computed: {
      isAdmin(){
        return this.$store.getters['adminAuth/isAuthenticated']
      }
    },
    beforeUpdate() {

    },
}
</script>

<style lang="scss">
  .full-screen{
    min-height: 100vh !important;
  }
</style>

