<template>
  <section id="product-list" class="p-col-12"  :class="{'hidden': this.hidden}">
    <Card>
      <template #title>
      <div class="p-grid">
        <div class="p-col">
            Produkt hinzufügen 
        </div>
        <div class="p-col">
            <div class="p-grid">
               <span class="p-buttonset">
                <Button @click="panel(0,'Speise')" class="p-button-outlined" label="Speise" />
                <Button @click="panel(1,'Getränk')" class="p-button-outlined" label="Getränk" />
             </span>
        </div>
        </div>
        <div class="p-col text-right">
          <i class="pi pi-times" @click="addProduct"  style="font-size: 2rem"></i>
        </div>
      </div>
      </template>
      <template #content>
             <TabView ref="tabview2" v-model:activeIndex="active">
                <TabPanel >
                  <ProductForm @save-data="saveProduct"  :selectProduct="productKind" />
                </TabPanel>
                <TabPanel >
                  <ProductForm @save-data="saveProduct"  :selectProduct="productKind" />
                </TabPanel>
            </TabView>
      </template>
    </Card>
  </section>
  <section class="p-col-12">
    <Card>
      <template #title>
        <div class="p-grid">
          <div class="p-col-7">
            Produkt Liste 
          </div>
          <div class="p-col-1"> 
              <Button
                icon="pi pi-upload"
                class="p-button-outlined"
                @click="exportCSV($event)"
              />
          </div>
          <div class="p-col"> 
              <Button
                label="Produckt hinzufügen"
                icon="pi pi-plus"
                class="p-button-outlined"
                @click="addProduct"
              />
          </div>
        </div>
      </template>
      <template #content>
        <div class="card">
          <DataTable
            ref="dt"
            :value="products"
            v-model:selection="selectedProducts"
            dataKey="id"
            :paginator="true"
            :rows="10"
            :filters="filters"
            paginatorTemplate="FirstPageLink PrevPageLink PageLinks NextPageLink LastPageLink CurrentPageReport RowsPerPageDropdown"
            :rowsPerPageOptions="[5, 10, 25]"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} products"
            responsiveLayout="scroll"
          >
            <template #header>
              <div
                class="
                  table-header
                  p-d-flex p-flex-column p-flex-md-row p-jc-md-between
                "
              >
                <span class="p-input-icon-left">
                  <InputText
                    typw="text"
                    clsas="p-inputtext-lg"
                    style="height: 50px"
                    v-model="filters['global'].value"
                    placeholder="Search..."
                  />
                </span>
              </div>
            </template>

            <Column
              selectionMode="multiple"
              style="width: 3rem"
              :exportable="false"
            ></Column>
            <Column
              field="id"
              header="id"
              :sortable="true"
              style="width: 9rem"
            ></Column>
            <Column
              field="titel"
              header="titel"
              :sortable="true"
              style="min-width: 16rem"
            ></Column>
            <Column
              field="description"
              header="description"
              :sortable="true"
              style="min-width: 16rem"
            ></Column>
            <Column header="Image" style="width: 16rem">
              <template #body="slotProps">
                <div class="grid">
                  <div class="col" v-for="image in slotProps.data.images">
                    <img
                      v-if="image"
                      :src="imgPath(image)"
                      :alt="slotProps.data.image"
                      class="product-image"
                    />
                  </div>
                </div>
              </template>
            </Column>
            <Column
              field="price"
              header="Price"
              :sortable="true"
              style="min-width: 8rem"
            >
              <template #body="slotProps">
                {{ formatCurrency(slotProps.data.price) }}
              </template>
            </Column>
            <Column
              field="category"
              header="Category"
              :sortable="true"
              style="min-width: 10rem"
            ></Column>
            <Column
              field="rating"
              header="Reviews"
              :sortable="true"
              style="min-width: 12rem"
            >
              <template #body="slotProps">
                <Rating
                  :modelValue="slotProps.data.rating"
                  :readonly="true"
                  :cancel="false"
                />
              </template>
            </Column>
            <Column
              field="inventoryStatus"
              header="Status"
              :sortable="true"
              style="min-width: 12rem"
            >
              <template #body="slotProps">
                <span
                  :class="
                    'product-badge status-' +
                    (slotProps.data.inventoryStatus
                      ? slotProps.data.inventoryStatus.toLowerCase()
                      : '')
                  "
                  >{{ slotProps.data.status }}</span
                >
              </template>
            </Column>
            <Column :exportable="false" style="min-width: 8rem">
              <template #body="slotProps">
                <Button
                  icon="pi pi-pencil"
                  class="p-button-rounded p-button-success p-mr-2"
                  @click="editProduct(slotProps.data)"
                />
                <Button
                  icon="pi pi-trash"
                  class="p-button-rounded p-button-warning"
                  @click="confirmDeleteProduct(slotProps.data)"
                />
              </template>
            </Column>
          </DataTable>
        </div>

        <Dialog
          v-model:visible="productDialog"
          :style="{ width: '450px' }"
          header="Product Details"
          :modal="true"
          class="p-fluid"
        >
          <ProductDialog :object=productDetails />
        </Dialog>

        <Dialog
          v-model:visible="deleteProductDialog"
          :style="{ width: '450px' }"
          header="Confirm"
          :modal="true"
        >
          <div class="confirmation-content">
            <i
              class="pi pi-exclamation-triangle p-mr-3"
              style="font-size: 2rem"
            />
            <span v-if="product"
              >Are you sure you want to delete <b>{{ product.titel }}</b
              >?</span
            >
          </div>
          <template #footer>
            <Button
              label="No"
              icon="pi pi-times"
              class="p-button-text"
              @click="deleteProductDialog = false"
            />
            <Button
              label="Yes"
              icon="pi pi-check"
              class="p-button-text"
              @click="deleteProduct(product)"
            />
          </template>
        </Dialog>
        <Dialog
          v-model:visible="deleteProductsDialog"
          :style="{ width: '450px' }"
          header="Confirm"
          :modal="true"
        >
          <div class="confirmation-content">
            <i
              class="pi pi-exclamation-triangle p-mr-3"
              style="font-size: 2rem"
            />
            <span v-if="product"
              >Are you sure you want to delete the selected products?</span
            >
          </div>
          <template #footer>
            <Button
              label="No"
              icon="pi pi-times"
              class="p-button-text"
              @click="deleteProductsDialog = false"
            />
            <Button
              label="Yes"
              icon="pi pi-check"
              class="p-button-text"
              @click="deleteSelectedProducts"
            />
          </template>
        </Dialog>
      </template>
    </Card>
  </section>
</template>

<script>
import ProductDialog from "@/components/admin/ProductDialog.vue";
import ProductForm from '../../components/admin/ProductForm.vue'
import { FilterMatchMode } from "primevue/api";
export default {
  components: {
    ProductDialog,
    ProductForm
  },
  data() {  
    return {
      active:0,
      products: null,
      productDetails:null,
      productDialog: false,
      deleteProductDialog: false,
      deleteProductsDialog: false,
      product: {},
      filters: {},
      selectedProducts: null,
      submitted: false,
      productKind: 'Speise',
      hidden: true,
      statuses: [
        { label: "INSTOCK", value: "instock" },
        { label: "LOWSTOCK", value: "lowstock" },
        { label: "OUTOFSTOCK", value: "outofstock" },
      ],
    };
  },
  created() {
    this.initFilters();
  },
  async mounted() {
    try {
      message = await this.$store.dispatch("products/loadProducts");
    } catch (err) {
      this.error = err.message || "Failed to authenticate, try later.";
      this.showError(this.error);
    }
    this.products = this.$store.getters["products/products"];
  },
  methods: {
    addProduct(){
      this.hidden = !this.hidden;  
    },
    panel(panel_id, kind){
      this.active = panel_id;
      console.log(kind)
      this.productKind = kind;
    },
    imgPath(name) {
      if(name.indexOf("data:image") != -1){
        return name;
      }
      if(name.indexOf("blob")  != -1 ){ 
        console.log("userlist blob")
        return null;
      }
      console.log("userlist image url")
      return "http://127.0.0.1:8000/static/products/" + name;
      
    },
    formatCurrency(value) {
      if (value)
        return value.toLocaleString("de-DE", {
          style: "currency",
          currency: "EUR",
        });
      return;
    },
    showError(message) {
      this.$toast.add({
        severity: "error",
        summary: "Error Message",
        detail: message,
        life: 3000,
      });
    },
    openNew() {
      this.product = {};
      this.submitted = false;
      this.productDialog = true;
    },
    hideDialog() {
      this.productDialog = false;
      this.submitted = false;
    },
    saveProduct() {
      this.submitted = true;

      if (this.product.name.trim()) {
        if (this.product.id) {
          this.product.inventoryStatus = this.product.inventoryStatus.value
            ? this.product.inventoryStatus.value
            : this.product.inventoryStatus;
          this.products[this.findIndexById(this.product.id)] = this.product;
          this.$toast.add({
            severity: "success",
            summary: "Successful",
            detail: "Product Updated",
            life: 3000,
          });
        } else {
          this.product.id = this.createId();
          this.product.code = this.createId();
          this.product.image = "product-placeholder.svg";
          this.product.inventoryStatus = this.product.inventoryStatus
            ? this.product.inventoryStatus.value
            : "INSTOCK";
          this.products.push(this.product);
          this.$toast.add({
            severity: "success",
            summary: "Successful",
            detail: "Product Created",
            life: 3000,
          });
        }

        this.productDialog = false;
        this.product = {};
      }
    },
    async deleteProduct(product){      
      this.deleteProductDialog = false;
      try {
       let result = await  this.$store.dispatch('products/deleteProduct', product) 
       if(result){           
        console.log("delete product " + product.id)
        this.products = this.products.filter((val) => val.id !== this.product.id);
        this.product = {};
        this.$toast.add({ severity: "success", summary: "Successful", detail: "Product Deleted", life: 3000, });
       }else{
         console.log("an error happend ")
       }
      }catch(err){
          console.log(err)
          this.error = err.message || 'Failed to authenticate, try later.' 
      }
    },
    editProduct(product) {
      this.productDetails = { ...product };
      this.productDialog = true;
    },
    confirmDeleteProduct(product) {
      this.product = product;
      this.deleteProductDialog = true;
    },
    findIndexById(id) {
      let index = -1;
      for (let i = 0; i < this.products.length; i++) {
        if (this.products[i].id === id) {
          index = i;
          break;
        }
      }

      return index;
    },
    createId() {
      let id = "";
      var chars =
        "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";
      for (var i = 0; i < 5; i++) {
        id += chars.charAt(Math.floor(Math.random() * chars.length));
      }
      return id;
    },
    exportCSV() {
      this.$refs.dt.exportCSV();
    },
    confirmDeleteSelected() {
      this.deleteProductsDialog = true;
    },
    deleteSelectedProducts() {
      this.products = this.products.filter(
        (val) => !this.selectedProducts.includes(val)
      );
      this.deleteProductsDialog = false;
      this.selectedProducts = null;
      this.$toast.add({
        severity: "success",
        summary: "Successful",
        detail: "Products Deleted",
        life: 3000,
      });
    },
    initFilters() {
      this.filters = {
        global: { value: null, matchMode: FilterMatchMode.CONTAINS },
      };
    },
  },
};
</script>

<style lang="scss" scoped>
.table-header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media screen and (max-width: 960px) {
    align-items: start;
  }
}

.product-image {
  width: 50px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.p-dialog .product-image {
  width: 50px;
  margin: 0 auto 2rem auto;
  display: block;
}

.confirmation-content {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 960px) {
  ::v-deep(.p-toolbar) {
    flex-wrap: wrap;

    .p-button {
      margin-bottom: 0.25rem;
    }
  }
}
</style>

