<template>
  <section id="user-page">
    <div class="fluidi p-6">
      <div class="grid">
      <section class="sidebar col-4">
        <Card class="pt-6">
          <template #header>
            <div class="flex justify-content-center">
              <div class="logo-circle" 
                  :style="{ backgroundImage: 'url(' + this.imgUrl('logo') + ')' }"
              >
              </div>
            </div>
          </template>
          <template #title>
             <span class="flex justify-content-center">
              Admin 
             </span>
          </template>
          <template #content>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
              quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!
          </template>
        </Card>
      </section>
      <section class="col-8">
        <div class="col-12">
      <div class="grid">
          <div class="col-8">
            <ul class="p-0">
              <li @click="active = 0"   class="inline-block" >Rechnung</li>
              <li @click="active = 1"   class="inline-block" >Datenshutz</li>
              <li @click="active = 2"   class="inline-block" >Emails</li>
              <li @click="active = 3"  class="inline-block" >User </li>
              <li @click="active = 4"  class="inline-block" >Themes</li>
              <li  @click="active = 5" class="inline-block" >Zahlungen</li>
              <li @click="active = 6"   class="inline-block" >Shipping </li>
            </ul>
          </div>
          <div class="col-4 flex justify-content-end">
              <router-link :to="'/shop'"> 
                <Button icon="pi pi-shopping-cart" class="p-button-rounded p-button-warning p-button-outlined mr-2 " />
              </router-link>
            <Button icon="pi pi-sign-out" @click="logout"  class="p-button-rounded p-button-info p-button-outlined" />
          </div>
        </div>
        </div>
        <div class="col-12">
        <Card>
          <template #header>
          </template>
          <template #title>
              Advanced Card
          </template>
          <template #content>
            <TabView ref="tabview2" v-model:activeIndex="active">
              <TabPanel header="Header I">
                 <h5>Comma Separator</h5>
                 <Chips v-model="navigation" separator="," />
              </TabPanel>
              <TabPanel header="Header II">
                  <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Consectetur, adipisci velit, sed quia non numquam eius modi.</p>
              </TabPanel>
              <TabPanel header="Header III">
                  <p>At veromus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus.</p>
              </TabPanel>
              <TabPanel header="Header III">
                  <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est labora. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus.</p>
              </TabPanel>
              <TabPanel header="Header III">
                  <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fugafacilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus.</p>
              </TabPanel>
              <TabPanel header="Header III">

                <Accordion :activeIndex="0">
                  <AccordionTab header="Paypal">
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                  </AccordionTab>
                  <AccordionTab header="Sofort">
                      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Consectetur, adipisci velit, sed quia non numquam eius modi.</p>
                  </AccordionTab>
                  <AccordionTab header="stripe">
                      <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus.</p>
                  </AccordionTab>
                </Accordion>

              </TabPanel>
              <TabPanel header="Header III">
                  <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis esminus.</p>
              </TabPanel>
              <TabPanel header="Header III">
                  <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum fet expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus.</p>
              </TabPanel>
            </TabView>
          </template>
        </Card>
        </div>
      </section>
    </div>
    </div>
  </section>
</template>
  
<script>
export default {
  props: [],
  data() {  
    return{
      active: 0,
      navigation: null,
       isExactActive: true,
    }
  },
  methods:{
    imgUrl (img) {
     return require(`@/assets/${img}.png`)
    },
  },
  updated() {
    this.isExactActive = typeof this.$refs.rv === 'undefined';
  },

  mounted() {
    this.isexactactive = typeof this.$refs.rv === 'undefined';
  }

}
</script>
