<template>
  <section id="user-list" class="p-col-12"  :class="{'hidden': this.hidden}">
    <Card>
      <template #title>
      <div class="p-grid">
        <div class="p-col">
            User hinzufügen 
        </div>
        <div class="p-col text-right">
          <i class="pi pi-times" @click="addProduct"  style="font-size: 2rem"></i>
        </div>
      </div>
      </template>
      <template #content>
        <UserForm />
      </template>
    </Card>
  </section>
  <section class="p-col-12">
    <Card>
      <template #title>
        <div class="p-grid">
          <div class="p-col-7">
            Users Accounts
          </div>
          <div class="p-col-1"> 
              <Button
                icon="pi pi-upload"
                class="p-button-outlined"
                @click="exportCSV($event)"
              />
          </div>
          <div class="p-col"> 
              <Button
                label="User hinzufügen"
                icon="pi pi-plus"
                class="p-button-outlined"
                @click="addProduct"
              />
          </div>
        </div>
      </template>
      <template #content>
        <div class="card">
          <DataTable
            ref="dt"
            :value="users"
            v-model:selection="selectedUser"
            dataKey="id"
            :paginator="true"
            :rows="10"
            :filters="filters"
            paginatorTemplate="FirstPageLink PrevPageLink PageLinks NextPageLink LastPageLink CurrentPageReport RowsPerPageDropdown"
            :rowsPerPageOptions="[5, 10, 25]"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} users"
            responsiveLayout="scroll"
          >
            <template #header>
              <div
                class="
                  table-header
                  p-d-flex p-flex-column p-flex-md-row p-jc-md-between
                "
              >
                <span class="p-input-icon-left">
                  <InputText
                    typw="text"
                    clsas="p-inputtext-lg"
                    style="height: 50px"
                    v-model="filters['global'].value"
                    placeholder="Search..."
                  />
                </span>
              </div>
            </template>

            <Column
              selectionMode="multiple"
              style="width: 3rem"
              :exportable="false"
            ></Column>
            <Column
              field="id"
              header="id"
              :sortable="true"
              style="width: 9rem"
            ></Column>
            <Column
              field="username"
              header="userame"
              :sortable="true"
              style="min-width: 9rem"
            ></Column>
            <Column
              field="email"
              header="email"
              :sortable="true"
              style="min-width: 9rem"
            ></Column>
            <Column
              field="role"
              header="status"
              :sortable="true"
              style="min-width: 9rem"
            ></Column>
            <Column
              field="last_name"
              header="lastName"
              :sortable="true"
              style="min-width: 9rem"
            ></Column>
            <Column
              field="first_name"
              header="firstName"
              :sortable="true"
              style="min-width: 9rem"
            ></Column>
            <Column
              field="phone_number"
              header="number"
              :sortable="true"
              style="min-width: 9rem"
            ></Column>
            <Column
              field="state"
              header="Bundesland"
              :sortable="true"
              style="min-width: 9rem"
            ></Column>
            <Column
              field="street"
              header="Straße"
              :sortable="true"
              style="min-width: 9rem"
            ></Column>
            <Column
              field="street_number"
              header="Nr"
              :sortable="true"
              style="min-width: 2rem"
            ></Column>
            <Column
              field="zipcode"
              header="PLZ"
              :sortable="true"
              style="min-width: 2rem"
            ></Column>
            <Column header="Image" style="width: 16rem">
              <template #body="slotProps">
                <div class="grid">
                  <div class="col" v-for="image in slotProps.data.images">
                    <!---
                    <img
                      v-if="image"
                      :src="imgPath(image)"
                      :alt="slotProps.data.image"
                      class="product-image"
                    />
                    -->
                  </div>
                </div>
              </template>
            </Column>
            <Column :exportable="false" style="min-width: 8rem">
              <template #body="slotProps">
                <Button
                  icon="pi pi-pencil"
                  class="p-button-rounded p-button-success p-mr-2"
                  @click="editProduct(slotProps.data)"
                />
                <Button
                  icon="pi pi-trash"
                  class="p-button-rounded p-button-warning"
                  @click="confirmDeleteProduct(slotProps.data)"
                />
              </template>
            </Column>
          </DataTable>
        </div>

        <Dialog
          v-model:visible="userDialog"
          :style="{ width: '450px' }"
          header="Product Details"
          :modal="true"
          class="p-fluid"
        >
          <UserDialog :object=userDetails />
        </Dialog>

        <Dialog
          v-model:visible="hiddeUserDialog"
          :style="{ width: '450px' }"
          header="Confirm"
          :modal="true"
        >
          <div class="confirmation-content">
            <i
              class="pi pi-exclamation-triangle p-mr-3"
              style="font-size: 2rem"
            />
            <span v-if="users"
              >Are you sure you want to delete <b>{{ users.titel }}</b
              >?</span
            >
          </div>
          <template #footer>
            <Button
              label="No"
              icon="pi pi-times"
              class="p-button-text"
              @click="hiddeUserDialog = false"
            />
            <Button
              label="Yes"
              icon="pi pi-check"
              class="p-button-text"
              @click="deleteUser(user)"
            />
          </template>
        </Dialog>
        <Dialog
          v-model:visible="deleteUserDialog"
          :style="{ width: '450px' }"
          header="Confirm"
          :modal="true"
        >
          <div class="confirmation-content">
            <i
              class="pi pi-exclamation-triangle p-mr-3"
              style="font-size: 2rem"
            />
            <span v-if="user"
              >Are you sure you want to delete the selected users?</span
            >
          </div>
          <template #footer>
            <Button
              label="No"
              icon="pi pi-times"
              class="p-button-text"
              @click="deleteUserDialog = false"
            />
            <Button
              label="Yes"
              icon="pi pi-check"
              class="p-button-text"
              @click="deleteSelectedUser"
            />
          </template>
        </Dialog>
      </template>
    </Card>
  </section>
</template>
<script>

import UserForm from '../../components/admin/UserForm.vue'
import UserDialog from '../../components/admin/userDialog.vue'
import { FilterMatchMode } from "primevue/api";
export default {
    components: {
      UserForm, 
      UserDialog
    },
  data() {  
    return {
      active:0,
      userDetails:null,
      userDialog: false,
      hiddeUserDialog: false,
      deleteUserDialog: false,
      users: null,
      user: {},
      filters: {},
      selectedUser: null,
      submitted: false,
      productKind: 'Speise',
      hidden: true,
      statuses: [
        { label: "INSTOCK", value: "instock" },
        { label: "LOWSTOCK", value: "lowstock" },
        { label: "OUTOFSTOCK", value: "outofstock" },
      ],
    };
  },
  created() {
    this.initFilters();
  },
  async mounted() {
    try {
     await this.$store.dispatch("adminAuth/loadAllUsers");
    } catch (err) {
      this.error = err.message || "Failed to authenticate, try later.";
      this.showError(this.error);
    }
    this.users = this.$store.getters["adminAuth/users"][0];
  },
  methods: {
    addProduct(){
      this.hidden = !this.hidden;  
    },
    panel(panel_id, kind){
      this.active = panel_id;
      console.log(kind)
      this.productKind = kind;
    },
    imgPath(name) {
      if(name.indexOf("data:image") != -1){
        return name;
      }
      if(name.indexOf("blob")  != -1 ){ 
        console.log("userlist blob")
        return null;
      }
      return "http://127.0.0.1:8000/static/users/" + name;
      
    },
    formatCurrency(value) {
      if (value)
        return value.toLocaleString("de-DE", {
          style: "currency",
          currency: "EUR",
        });
      return;
    },
    showError(message) {
      this.$toast.add({
        severity: "error",
        summary: "Error Message",
        detail: message,
        life: 3000,
      });
    },
    openNew() {
      this.user = {};
      this.submitted = false;
      this.userDialog = true;
    },
    hideDialog() {
      this.userDialog = false;
      this.submitted = false;
    },
    saveProduct() {
      this.submitted = true;

      if (this.product.name.trim()) {
        if (this.product.id) {
          this.product.inventoryStatus = this.product.inventoryStatus.value
            ? this.product.inventoryStatus.value
            : this.product.inventoryStatus;
          this.products[this.findIndexById(this.product.id)] = this.product;
          this.$toast.add({
            severity: "success",
            summary: "Successful",
            detail: "Product Updated",
            life: 3000,
          });
        } else {
          this.product.id = this.createId();
          this.product.code = this.createId();
          this.product.image = "product-placeholder.svg";
          this.product.inventoryStatus = this.product.inventoryStatus
            ? this.product.inventoryStatus.value
            : "INSTOCK";
          this.products.push(this.product);
          this.$toast.add({
            severity: "success",
            summary: "Successful",
            detail: "Product Created",
            life: 3000,
          });
        }

        this.userDialog = false;
        this.product = {};
      }
    },
    async deleteUser(user){      
      this.hiddeUserDialog = false;
      console.log("hide this up")
      console.log(user) 
       let result = await  this.$store.dispatch('adminAuth/deleteUser', user.id) 
       console.log(result)
      try {
       if(result){           
        console.log("delete user " + user.id)
          this.users = this.users.filter((val) => val.id !== this.user.id);
          this.user = {};
          this.$toast.add({ severity: "success", summary: "Successful", detail: "User Deleted", life: 3000, });
       }else{
         console.log("an error happend ")
       }
      }catch(err){
          console.log(err)
          this.error = err.message || 'Failed to authenticate, try later.' 
      }
      
    },
    editProduct(user) {
      this.userDetails = { ...user };
      this.userDialog = true;
    },
    confirmDeleteProduct(user) {
      console.log("confirm")
      console.log(user)
      this.user = user;
      this.hiddeUserDialog= true;
    },
    findIndexById(id) {
      let index = -1;
      for (let i = 0; i < this.users.length; i++) {
        if (this.users[i].id === id) {
          index = i;
          break;
        }
      }

      return index;
    },
    exportCSV() {
      this.$refs.dt.exportCSV();
    },
    deleteSelectedUser() {
      this.users = this.users.filter(
        (val) => !this.selectedUser.includes(val)
      );
      this.deleteUserDialog = false;
      this.selectedUser = null;
      this.$toast.add({
        severity: "success",
        summary: "Successful",
        detail: "Products Deleted",
        life: 3000,
      });
    },
    initFilters() {
      this.filters = {
        global: { value: null, matchMode: FilterMatchMode.CONTAINS },
      };
    },
  },
};
</script>

<style lang="scss" scoped>
.table-header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media screen and (max-width: 960px) {
    align-items: start;
  }
}

.product-image {
  width: 50px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.p-dialog .product-image {
  width: 50px;
  margin: 0 auto 2rem auto;
  display: block;
}

.confirmation-content {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 960px) {
  ::v-deep(.p-toolbar) {
    flex-wrap: wrap;

    .p-button {
      margin-bottom: 0.25rem;
    }
  }
}
</style>

