<template>
  <section ref="gallery" id="shop-page">
    <div class="fluid">
      <section class="menubar">
      <div class="grid">
        <div class="col flex justify-content-center flex-wrap ">
          <div class="logo-circle" 
              :style="{ backgroundImage: 'url(' + this.imgUrl('logo') + ')' }"
          >
          </div>
        </div>
        <div class="col-10 flex align-items-center relative"> 
            <div class="col"> 
            <ul class="pl-0">
              <li><a href="">Getränk </a></li>
              <li><a href="">Getränk </a></li>
              <li><a href="">Getränk </a></li>
              <li><a href="">Getränk </a></li>
            </ul> 
            <InputText type="text" class="p-inputtext-lg search"  placeholder="Suche" />
            </div>
            <div class="col-2 pb-0"> 
              <div v-if="isUser" class="col-12  top-space">
                <router-link :to="'/user'"> <Avatar icon="pi pi-user"  class="pr-1" size="large" /> </router-link>
                <Avatar icon="pi pi-shopping-cart"  class="ml-1" size="large" />
              </div>
              <div v-else class="col-12 pb-0 top-space">   
                <div class="grid">
                  <div class="col-6 pl-0">
                  <router-link :to="'/registration'">
                    <Button label="Anmelden" class="p-button-raised p-button-text p-button-lg" />
                  </router-link>
                  </div>
                  <div class="col-6 pl-0">
                  <router-link :to="'/login'">
                    <Button label="Login" class="p-button-raised p-button-text p-button-lg" />
                  </router-link>
                  </div>
                </div>    
              </div>    
            </div>
        </div>
        </div>
      </section>
      <section @scroll="handleScroll" class="gallery" >
        <div ref="scrollComponent" v-for="item in products" :key="item.id" class="box" @click="detail(item.id, item)">
          <component :is="item.product" :obj="item" />
        </div>
      </section>
    </div>
  </section>
</template>

<script>
  import ProductDetail from "@/components/users/ProductDetail.vue";
  import ProductImage from "@/components/users/ProductImage.vue";

  export default {
    components: {
      ProductDetail, 
      ProductImage
    },
    data(){
      return{
        showproductDetail:true,
        openIdex:null,
        prevImage: null,
        component: "ProductImage",
        allProducts:[],
        products:[],
        gallery:
        [
          {
           id:1,
           name: "product1",
          },
         ],
         list: [],
         items: [
          {
             label:'File',
             icon:'pi pi-fw pi-file',
          },
          {
             label:'Edit',
             icon:'pi pi-fw pi-file',
          },
          {
             label:'Users',
             icon:'pi pi-fw pi-file',
          }
         
          ]
      }
    },
    computed: {
      text(){
        return this.title.toUpperCase();
      },
      isAdmin(){ 
        return this.$store.getters['adminAuth/isAuthenticated']
      },
      isUser(){ 
        return this.$store.getters['userAuth/isAuthenticated']
      }
    },
    methods:{
      imgUrl (img) {
       return require(`@/assets/${img}.png`)
      },
      closeProductDetail(index){
        this.products.splice(index,1);
        this.showproductDetail = !this.showproductDetail;
        //this.openIndex = null;
        console.log(this.products)
      },
      appendProductDetail(boxId, index  ,obj){
          console.log("i gonna append it to", index)
          this.products.splice( index,0, obj)

          this.prevImage = boxId;
          console.log(this.products)
          this.showproductDetail = !this.showproductDetail;
      },
      detail(boxId, item){
        console.log(boxId) 
        console.log(this.list)
        console.log(boxId)
        let perRow = 4
        let total = (boxId + perRow + 1)
        for( let i = boxId; i <= total; i ++  ){
          //console.log(`${i} % ${perRow} = ${( i % perRow)}`)
          if(i % perRow === 0){
            console.log("Append hier")
            console.log(i)
            console.log(boxId)
            if(this.showproductDetail){
              console.log("component: ", item.product) 
              console.log("component: ", this.showproductDetail) 
              console.log("truex box")
              this.openIndex = i
              console.log("append index " + this.openIndex)
              delete item.product;
              const objImage = { 
               ...item, 
               product: "ProductDetail"
              }
              this.appendProductDetail(boxId, 1 , objImage)
            }else{
              // code for closing the product detail page
              if(item.product === "ProductImage" && this.prevImage === boxId ){
                console.log("same image")
                this.closeProductDetail(i)
              }
              if(item.product === "ProductImage" && this.prevImage !== boxId ){
                console.log("different image")
                this.closeProductDetail(i)
                var that = this;
                setTimeout(function() {
                  // do your thing!
                  console.log("Waiting 5 seconds")
                }, 5000);
                const objImage = { name: "Pommes", product: "ProductDetail" }
                that.appendProductDetail(boxId,i, objImage)
                  console.log(" i is:" + i)
                  console.log(" openIndex is:" + this.openIndex)

                // new row has been clicked will the other row is open
                if(i !== this.openIndex){
                  //this.closeProductDetail(this.openIndex)
                  //console.log(" i is:" + i)
                  //console.log(" openIdex is:" + this.openIndex)
                  console.log("new row")
                }
              }
            }
            
            break;
          }
        }
      },
      async appendImage(start,end, obj){ 
        // appending the first 20 images start = 0 | end = o
        let result = await this.$store.dispatch('products/loadProducts'); 
        for (var i = start ; i <= end; i++) {
          this.products.push({
            ...result[i],
            product: "ProductImage"
          });
        }

        /*
        for (var i = start ; i <= end; i++) {
            if(i % 2 === 0){
              this.list.push({
                id: i,
                name: "product1", 
                product: "ProductImage"
              });
            }else{
              this.list.push({
                id: i,
                name: "product2", 
                product: "ProductImage"
              });
          }
        }*/
      },
      handleScroll(){
        let el = this.$refs.scrollComponent
        if(el){
          //console.log("window " + " "+ Math.abs(el.getBoundingClientRect().bottom) +" " + window.innerHeight)
          //console.log(window.scrollY) 
          if(Math.abs(el.getBoundingClientRect().bottom) ==  window.innerHeight ){
            var total = this.list.length;
            var start = (this.list.length+1); 
            var end = (this.list.length+5); 
            console.log("load more images")

            //console.log("please get some more images")
            //console.log("array end " +  total)
            //console.log("array start " +  start)
            //console.log("array middle " +  end )
             
            //this.appendImage(start, end)
          }
        
        }
      }
    },
    mounted(){
      window.scrollTo(0, 0);
      // test images 
      this.appendImage(0, 19)
      window.addEventListener("scroll", this.handleScroll) 
    },
    unmounted(){
      window.addEventListener("scroll", this.handleScroll) 
    }

  }
</script>
