<template>
  <section id="user-page">
    <div class="fluidi p-6">
      <div class="grid">
      <section class="sidebar col-4">
        <Card class="pt-6">
          <template #header>
            <div class="flex justify-content-center">
              <div class="logo-circle" 
                  :style="{ backgroundImage: 'url(' + this.imgUrl('logo') + ')' }"
              >
              </div>
            </div>
          </template>
          <template #title>
             <span class="flex justify-content-center">
              Advanced Card
             </span>
          </template>
          <template #content>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
              quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!
          </template>
        </Card>
      </section>
      <section class="col-8">
        <div class="col-12">
      <div class="grid">
          <div class="col-8">
            <ul class="p-0">
              <li class="inline-block" ><a href="" class="text-3xl">Getränk </a></li>
              <li class="inline-block" ><a href="" class="text-3xl">Getränk </a></li>
              <li class="inline-block" ><a href="" class="text-3xl">Getränk </a></li>
              <li class="inline-block" ><a href="" class="text-3xl">Getränk </a></li>
            </ul>
          </div>
          <div class="col-4 flex justify-content-end">
              <router-link :to="'/shop'"> 
                <Button icon="pi pi-shopping-cart" class="p-button-rounded p-button-warning p-button-outlined mr-2 " />
              </router-link>
            <Button icon="pi pi-sign-out" @click="logout"  class="p-button-rounded p-button-info p-button-outlined" />
          </div>
        </div>
        </div>
        <div class="col-12">
        <Card>
          <template #header>
          </template>
          <template #title>
              Advanced Card
          </template>
          <template #content>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
              quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!
          </template>
        </Card>
        </div>
      </section>
    </div>
    </div>
  </section>
</template>

<script>
  import ProductDetail from "@/components/users/ProductDetail.vue";
  import ProductImage from "@/components/users/ProductImage.vue";

  export default {
    components: {
      ProductDetail, 
      ProductImage,
      showproductDetail:true,
    },
    data(){
      return{
         gallery:
        [
          {
           id:1,
           name: "product1",
          },
         ],
         list: [],
         items: [
          {
             label:'File',
             icon:'pi pi-fw pi-file',
          },
          {
             label:'Edit',
             icon:'pi pi-fw pi-file',
          },
          {
             label:'Users',
             icon:'pi pi-fw pi-file',
          }
         
          ]
      }
    },
    computed: {
      text(){
        return this.title.toUpperCase();
      },
    },
    methods:{
      imgUrl (img) {
       return require(`@/assets/${img}.png`)
      },
      detail(boxId){
        /*
        console.log(boxId)
        if(this.showproductDetail){
          console.log("true box")
          let index = (boxId)
           const obj = { id: index, name: "Spaggetti", product: "ProductDetail" }
          this.list.splice(index,0, obj)
          console.log(this.list)
          this.showproductDetail = !this.showproductDetail;
        }else{
          console.log("false box")
          this.list.splice(index,1)

          this.showproductDetail = !this.showproductDetail;
        }
        */ 
        /*
        console.log(this.list)
        console.log(boxId)
        for( let i = boxId; i <= total; i ++  ){
          console.log(`${i} % ${perRow} = ${( i % perRow)}`)
          if(i % perRow === 0){
            console.log("Append hier")
            console.log(i)
            break;
          }
        }
        */
      },
      logout(){
        this.$store.dispatch('userAuth/logout')
        //this.router.replace("/login")
      },
      appendImage(start,end){ 
        for (var i = start ; i <= end; i++) {
            if(i % 2 === 0){
              this.list.push({
                id: i,
                name: "product1", 
                product: "ProductImage"
              });
            }else{
              this.list.push({
                id: i,
                name: "product2", 
                product: "ProductImage"
              });
          }
        }
      },
      handleScroll(){
        let el = this.$refs.scrollComponent
        if(el){
          //console.log("bottom " + el.getBoundingClientRect().bottom)
          //console.log("window height " + window.innerHeight)
          /*
          if(el.getBoundingClientRect().bottom < window.innerHeight ){
            var total = this.list.length;
            var start = (this.list.length+1); 
            var end = (this.list.length+5); 

            //console.log("please get some more images")
            //console.log("array end " +  total)
            //console.log("array start " +  start)
            //console.log("array middle " +  end )
             
            this.appendImage(1, 20)
          }
          */
        }
      }
    },
    mounted(){
      this.appendImage(1, 20)
      window.addEventListener("scroll", this.handleScroll) 
    },
    unmounted(){
      window.addEventListener("scroll", this.handleScroll) 
    }

  }
</script>
