<template>
  <section class="grid"> 
    <div class="p-col-12">
    <BaseCard>
    <h2>{{ fullName }}</h2>
    <h3>${{ rate }}/hour</h3>
    </BaseCard>
    </div>
  </section>
  <section>
      <router-view></router-view>
  </section>
  <section>
    <BaseCard>
      <header>
        <h2>Interested? So contact us</h2> 
        <router-link :to="contactLink">
          <Button icon="pi pi-check" label="save" value="Hello" />
        </router-link>
      </header>
    </BaseCard>
  </section>
  <section class="grid">
    <div class="p-col-12">
    <BaseCard >
      <BaseBadge v-for="area in areas" :key="area" type="p-mr-2" :title="area" color="success"></BaseBadge>
      <p>
        {{ description }}
      </p>
    </BaseCard>
    </div>
  </section>
</template>

<script>
export default {
  props: ['id'],
  data(){
    return {
      selectedCoach:null
    }
  },
  computed:{
    fullName(){
      return this.selectedCoach.firstName + ' ' + this.selectedCoach.lastName;
    },
    areas(){
      return this.selectedCoach.areas;
    },
    contactLink(){
      return this.$route.path + '/contact' 
    },
    rate(){
      return this.selectedCoach.hourlyRate;
    },
    description(){
      return this.selectedCoach.description;
    },
  },
  created(){
    this.selectedCoach = this.$store.getters['coaches/coaches'].find( coach  => coach.id === this.id);

    console.log(this.selectedCoach)
    console.log(this.selectedCoach.firstName)
  },
}
</script>
