<template>
  <Tag :class="type" severity="color" :value="text"></Tag>
</template>

<script>
  export default {
    props: ['type', 'title' , 'color'],
    computed: {
      text(){
        return this.title.toUpperCase();
      }
    }
  }
</script>
