<template>
  <BaseCard>
    <h2>Filter Now!</h2>
    <div class="p-grid">
      <div class="p-col-4">
        <div class="p-field-checkbox">
          <Checkbox id="frontend" name="checkbox" value="frontend" @change="setFilter" v-model="filters.frontend"  :binary="true"/>
          <label for="frontend1">Frontend</label>
        </div>
      </div>
      <div class="p-col-4">
        <div class="p-field-checkbox">
          <Checkbox id="backend" name="checkebox" value="bakend" @change="setFilter" v-model="filters.backend" :binary="true" />
          <label for="frontend1">Backend</label>
        </div>
      </div>
      <div class="p-col-4">
        <div class="p-field-checkbox">
          <Checkbox id="career" name="checkbox" value="career" @change="setFilter" v-model="filters.career" :binary="true" />
          <label for="frontend1">Career</label>
        </div>
      </div>
  </div>
  </BaseCard>
</template>

<script>
  export default{
    emits: ['change-filter'],
    data(){
      return{
        filters: {
          frontend: true,
          backend: true,
          career: true,
        }
      }
    },
    methods:{
      setFilter(event){
        this.$emit('change-filter', this.filters)
      }
    }
  }
</script>
